// $backgroundImage: linear-gradient(225deg,#000000 0%,#cd890c 90%,#A90432 100%);
$cardNavBgColor: #FDB912;
$secondaryColor: #A90432;
$backgroundImage:
linear-gradient(180deg, #FF2525 0%, #FFE53B 37%, #000000 100%);
